/* Font */
:root {
    --text-unique-color: #f79646;
    --text-color: #162a2c;
    --background-color: #fefcf6;
}

/* Initial */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    word-spacing: 1px;
    color: var(--text-color);
    background-color: var(--background-color);

}

html,
body {
    height: 100%;
}

/* Text */
.text-white {
    color: #fefcf6;
}

.text-orange {
    color: var(--text-unique-color);
}

/* Backgound */
.bg {
    background-color: var(--text-unique-color);
}

/* Buttons */


/* Navbar */
nav {
    z-index: 999;
}

nav .navbar-brand,
.navbar-brand:hover {
    font-size: 1.5em;
    z-index: 999;
    font-weight: bolder;
    color: var(--text-unique-color);
}

.nav-link,
.nav-link:hover {
    color: #fefcf6;
    font-size: 1.5em;
}

nav .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--text-unique-color);
    transition: width .3s;
    color: #fefcf6;

}

nav .nav-link:hover::after {
    width: 100%;
    color: #fefcf6;
}

.navbar-toggler {

    color: var(--text-unique-color);
    border: var(--bs-border-width) solid var(--text-unique-color);

}

.banner {
    aspect-ratio: 16 / 9;
}

.banner video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner::before {
    content: "";
    width: 100%;
    height: 99.8%;
    position: absolute;
    top: 0;
    background-color: #162a2cb3;
}

.banner h1 {
    letter-spacing: 10px;
    font-size: 5em;
}

/* Services */
.card {
    /* width: 24rem; */
    height: 20rem;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    /* color: var(--text-color); */
    color: var(--background-color);
    /* box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2); */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: none;
    background-color: var(--background-color)
}


.card::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #162a2cb3;
}

.card .front {
    position: absolute;
    inset: auto auto 30px 30px;
    margin: 0;
    transition: inset 0.3s 0.3s ease-out;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

.card .back {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity 0.3s ease-out;
}

.card .back {
    inset: auto auto 20px 30px;
}

.card:hover .front {
    inset: auto auto 210px 30px;
    transition: inset 0.3s ease-out;
}

.card:hover .back {
    opacity: 1;
    transition: opacity 0.5s 0.1s ease-in;
}

/* About */
#about div {
    height: calc(100vh - 300px);
}

#about p {
    font-size: 25px
}

/* Footer */
.footer-menu {
    padding: 45px 0;
}

.footer-menu .navbar-header {
    padding: 0;
}

.footer-menu .navbar-header a.navbar-brand,
.footer-menu.footer-menu .navbar-header a.navbar-brand:hover,
.footer-menu .navbar-header a.navbar-brand:focus {
    padding: 0;
    height: 0;
}

.footer-menu ul.footer-menu-item {
    text-align: right;
}

.footer-menu ul.footer-menu-item li {
    display: inline-block;
}

.footer-menu ul.footer-menu-item li a {
    color: var(--text-color);
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 40px;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

.footer-menu ul.footer-menu-item li a:hover {
    color: var(--text-unique-color);
}

.hm-footer-copyright {
    padding: 40px 0;
    border-top: 1px solid #e1e5eb;
}

.hm-footer-copyright p,
.hm-footer-copyright p a {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}

.footer-social {
    text-align: right;
}

.footer-social .fa-phone:before {
    position: relative;
    top: 2px;
}

.footer-social a,
.footer-social span {
    display: inline-block;
    color: #afb4bf;
    font-size: 14px;
    margin-left: 15px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.footer-social a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #eef2f6;
    text-align: center;
    border-radius: 50%;
}

.footer-social span {
    margin-right: 15px;
    margin-left: 0;
    color: var(--text-color);
}

.footer-social span:hover {
    color: var(--text-unique-color);
}

.footer-social a:hover {
    background: var(--text-unique-color);
    color: #fff;
}

footer .navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
}

/* Top Button */
#scroll-Top .return-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: none;
    width: 40px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    background: var(--text-unique-color);
    border-radius: 50%;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    z-index: 2;
}

#scroll-Top .return-to-top:hover {
    background: var(--text-unique-color);
}

#scroll-Top .return-to-top i {
    position: relative;
    bottom: 0;

}

#scroll-Top .return-to-top i {
    position: relative;
    animation-name: example;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes example {
    0% {
        bottom: 0px;
    }

    100% {
        bottom: 7px;
    }
}

/* Responsive */
@media screen and (max-width:1200px) {}

@media screen and (max-width:900px) {}

@media screen and (max-width:770px) {
    .banner h1 {
        display: none;
    }

    nav .nav-link:hover::after {
        width: 20%;
        color: #fefcf6;
    }

    #about p {
        font-size: 7px;
        padding-top: 30px;
    }

}

@media screen and (max-width:500px) {}

@media screen and (max-width:320px) {}