/* Font */
:root {
    --text-unique-color: #f79646;
    --text-color: #162a2c;
    --background-color: #fefcf6;
}

/* Initial */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-size: 1em;
    color: var(--text-color);
    line-height: 1.5;
    word-spacing: 1px;
    background-color: var(--background-color)
}

/* Text */
.text-white {
    color: #fefcf6;
}

.text-orange {
    color: var(--text-unique-color);
}

/* Buttons */


/* Navbar */
nav {
    z-index: 999;
}

nav .navbar-brand,
.navbar-brand:hover {
    font-size: 1.5em;
    z-index: 999;
    font-weight: bolder;
}

.nav-link,
.nav-link:hover {
    color: #fefcf6;
    font-size: 1.5em;
}

nav .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--text-unique-color);
    transition: width .3s;
    color: #fefcf6;

}

nav .nav-link:hover::after {
    width: 100%;
    color: #fefcf6;
}


.banner {
    aspect-ratio: 16 / 9;
}

.banner video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner::before {
    content: "";
    width: 100%;
    height: 99.8%;
    position: absolute;
    top: 0;
    background-color: #162a2cb3;
}

.banner h1 {
    letter-spacing: 10px;
    font-size: 6em;
}

/* Services */
.card {
    /* width: 24rem; */
    height: 20rem;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    /* color: var(--text-color); */
    color: var(--background-color);
    /* box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2); */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: none;
    background-color: var(--background-color)
}


.card::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #162a2cb3;
}

.card .front {
    position: absolute;
    inset: auto auto 30px 30px;
    margin: 0;
    transition: inset 0.3s 0.3s ease-out;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

.card .back {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity 0.3s ease-out;
}

.card .back {
    inset: auto auto 20px 30px;
}

.card:hover .front {
    inset: auto auto 210px 30px;
    transition: inset 0.3s ease-out;
}

.card:hover .back {
    opacity: 1;
    transition: opacity 0.5s 0.1s ease-in;
}

/* Footer */

/* Responsive */
@media screen and (max-width:1200px) {}

@media screen and (max-width:900px) {}

@media screen and (max-width:770px) {
    .banner h1 {
        display: none;
    }
}

@media screen and (max-width:500px) {}

@media screen and (max-width:320px) {}